@font-face {
    font-family: 'sofia-pro';
    font-style: normal;
    font-weight: 200;
    src:
            local('Sofia Pro Light'),
            url('/assets/fonts/sofia-pro-light.woff') format('woff')
}

@font-face {
    font-family: 'sofia-pro';
    font-style: normal;
    font-weight: 400;
    src:
            local('Sofia Pro Regular'),
            url('/assets/fonts/sofia-pro-regular.woff') format('woff')
}

@font-face {
    font-family: 'sofia-pro';
    font-style: normal;
    font-weight: 700;
    src:
            local('Sofia Pro Bold'),
            url('/assets/fonts/sofia-pro-bold.woff') format('woff')
}
