:root {
    /* =========================
       Font families
    ========================= */
    --font-default: 'sofia-pro';

    /* =========================
       Font weights
    ========================= */
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* =========================
       Font sizes
    ========================= */
    --font-size-2xs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
    --font-size-2xl: 32px;

    /* =========================
       Line heights
    ========================= */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;
    --line-height-loose: 1.7;
}
