/**
    Entry point for styles
    Colours and typography based on brand guidelines: https://partners.aiimi.com/assets/b3a14096-1ea7-4894-ae40-5e7d165b9cf1
 */
@use 'styles/colours';
@use 'styles/fonts';
@use 'styles/typography';

// Inspired by css-reset. Ref: https://www.joshwcomeau.com/css/custom-css-reset/
*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

html, body, app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--font-default), sans-serif;
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    color: var(--colour-stone);
    background-color: var(--colour-ink);
    -webkit-font-smoothing: antialiased;

    margin: 0;
    height: 100%; /* Change this from min-height to height */
    width: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

button {
    background-color: var(--colour-brand-pink);
    color: var(--colour-white);
}
