:host {
    display: block;
}

.contact-list {
    margin-top: 32px;
}

.contact-list__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
    justify-items: center;
    align-items: center;
}

.contact-list__item {
    width: 100%;
}
