@use 'z-index' as *;

$border-radius-results: 18px;
$border-radius-search: 20px;
$height: 40px;

.typeahead {
    font-size: var(--font-size-sm);
    position: relative; // This is the anchor

    .loader-container {
        margin-top: 36px;
        color: var(--colour-white);
    }

    &__search {
        display: flex;
        flex-direction: row;
    }

    &__results-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--colour-white);
        border: 1px solid var(--colour-brand-pink);
        border-radius: 18px;
        margin-top: 8px;
        z-index: z('dropdown');
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style: none;
    }

    &__item {
        padding: 12px 16px;
        // when hovering over result, we provide a background colour. It's important the colour is applied properly
        // because of the rounded corners of the result set, we need some additional rules.
        // For the first result, only round the top. For the last result, only round the bottom
        // everything else should have no border rounding applied
        &:hover {
            cursor: pointer;
            background-color: var(--colour-blush);
            &:first-child {
                border-top-left-radius: $border-radius-results;
                border-top-right-radius: $border-radius-results;
            }
            &:last-child {
                border-bottom-left-radius: $border-radius-results;
                border-bottom-right-radius: $border-radius-results;
            }
        }

        &--empty:hover {
            background-color: transparent;
            cursor: default;
        }
    }


    &__textbox {

        flex: 1;
        box-sizing: border-box;
        border-bottom-left-radius: $border-radius-search;
        border-right: none;
        border-top-left-radius: $border-radius-search;
        height: $height;
        padding-left: 16px;
        padding-top: 8px;
        width: 100%;
    }

    &__button {
        border-bottom-right-radius: $border-radius-search;
        border-left: none;
        border-top-right-radius: $border-radius-search;
        height: $height;
        padding-left: 18px;
        padding-right: 18px;
        cursor: pointer;
        &:focus {
            border: 1px solid var(--colour-brand-pink);
            border-left: none;
        }
    }

    &__button-label {
        margin-top: 4px;
    }
}

input, button {
    border: 1px solid var(--colour-stone);
    &:focus {
        border: 1px solid var(--colour-brand-pink);
        border-right: none;
        outline: none;
        box-shadow: none;
        & ~ .typeahead__button { // sibling, update button border when input focused on
            border: 1px solid var(--colour-brand-pink);
            border-left: none;
            outline: none; // Often used to remove default focus rings
            box-shadow: none;
        }
    }
}
