<div class="typeahead">
    <div class="typeahead__search">
        <input
                #typeaheadValue
                autocomplete="off"
                data-e2e="typeaheadInput"
                class="typeahead__textbox"
                name="typeahead"
                type="text"
                [formControl]="searchControl"
                (keydown.enter)="submitSearch()"
                placeholder="{{ 'searchPlaceholder' | transloco }}"
        >
            <button class="typeahead__button" (click)="submitSearch()">
                <div class="typeahead__button-label">{{ 'go' | transloco }}</div>
            </button>
    </div>

    @if (loading && minSearch) {
        <div class="loader-container">
            <span class="loader"></span> <p>{{ 'loading' | transloco }}</p>
        </div>
    }

    @if (!loading && results && minSearch) {
        <div class="typeahead__results-container">
                <ul class="typeahead__list">
                @for (item of results; track $index) {
                    <li (click)="selectItemResult(item)" class="typeahead__item">
                        <ng-container
                                [ngTemplateOutlet]="itemResultsTemplate || defaultTemplate"
                                [ngTemplateOutletContext]="{ $implicit: item }">
                        </ng-container>
                    </li>
                } @empty {
                    <li class="typeahead__item typeahead__item--empty">
                        {{ 'noResults' | transloco }}
                    </li>
                }
                </ul>

        </div>
    }
    <!-- some defaults provided -->
    <ng-template #defaultTemplate let-item>
        {{ item.fullName || item.name }}
    </ng-template>
</div>
