.contact-card {
    border-radius: 24px;
    border: 1px solid var(--colour-white);
    color: var(--colour-white);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);
    min-width: 0;
    padding: 12px 24px 4px 40px;
    text-align: center;
    width: 100%;
    overflow: hidden;

    &__avatar-container {
        margin-bottom: 16px;
    }

    &__info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    &__name {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
    }

    &__row {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}
