<div class="contact-card">
    <div class="contact-card__info">
        <h3 class="contact-card__name">
            {{ user.fullName }}
        </h3>

        <p class="contact-card__title">
            {{ user.jobTitle }}
        </p>

          <span class="contact-card__detail contact-card__detail--phone">
            {{ user.phone }}
          </span>
                <span class="contact-card__detail contact-card__detail--email">
            {{ user.email }}
          </span>
    </div>
</div>
