.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.lang-switcher {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    padding-inline-end: 20px;

    span {
        cursor: pointer;
    }
}
