<div class="dashboard">
    <div class="dashboard__typeahead">
        <app-typeahead #typeAhead
                [loading]="isLoading$ | async"
                [results]="users$ | async"
                (search)="onSearch($event)"
                (selectResult)="onUserSelected($event)">
        >
            <ng-template #itemResultsTemplate let-user>
                <span [innerHTML]="user.fullName | highlight: typeAhead.searchTerm"></span>
            </ng-template>
        </app-typeahead>
    </div>
    <div class="dashboard__list">
        <app-contact-card-list
                [users]="(selectedUsers$ | async) || []">
        </app-contact-card-list>
    </div>
    <div class="dashboard__form">
        <router-outlet></router-outlet>
    </div>
    <div class="dashboard__button">
        <button routerLink="new-user">{{ 'newUser' | transloco }}</button>
    </div>
    <app-toast-container></app-toast-container>
</div>
