<div class="dashboard">
    <div class="dashboard__typeahead">
        <app-typeahead #typeAhead
                [loading]="isLoading$ | async"
                [results]="users$ | async"
                (search)="onSearch($event)"
                (select)="onUserSelected($event)">
        >
            <ng-template #itemResultsTemplate let-user>
                <span [innerHTML]="user.fullName | highlight: typeAhead.searchTerm"></span>
            </ng-template>
        </app-typeahead>
    </div>
    <div class="dashboard__button">
        <button>{{ 'newUser' | transloco }}</button>
    </div>
</div>
