:host {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 60%;
    margin: 0 auto;

    /* Safety net for small screens */
    @media (max-width: 1024px) {
        width: 90%;
    }

    &__form {
        margin-top: 100px;
    }

    &__button {
        margin-top: 12px;
        text-align: center;
    }

    button {
        border-radius: 30px;
        outline: none;
        border: none;
        padding: 8px 16px;
    }
}
