:host {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 60%;
    margin: 0 auto;

    /* Safety net for small screens */
    @media (max-width: 1024px) {
        width: 90%;
    }
}
